.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-tabs {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-tabs a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
}

.navbar-tabs a:hover {
  text-decoration: none;
  border-bottom: 2px solid white;
}

.navbar-tabs a.active {
  border-bottom: 2px solid white;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the links to the right */
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #c82333;
}

main {
  flex: 1;
  padding: 20px;
}
