body {
    margin: 0;
    padding: 0;
    background-color: #130f40;
    background-position: center;
    font-family: sans-serif;
    color: #2c3e50;
}

.login-container {
    width: 320px;
    height: auto;
    background-color: #ecf0f1;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: 5px solid #34495e;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
    text-align: center;
}

.login-logo {
    width: 150px;
    height: auto;
}

.login-container h1 {
    margin: 0;
    padding: 10px 0 20px 0;
    text-align: center;
    font-size: 22px;
}

.login-container label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    margin-bottom: 20px;
}

.login-container input[type="email"], .login-container input[type="password"] {
    border: none;
    border-bottom: 1px solid #2c3e50;
    outline: none;
    background: none;
    color: #333333;
    font-size: 16px;
    margin-top: 15px;
}

.login-container button {
    border: none;
    outline: none;
    height: 50px;
    background: linear-gradient(45deg, #2c3e50, #130f40);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    display: block;
    margin: 20px auto 0 auto; /* Center the button */
}

.login-container button:hover {
    cursor: pointer;
    background: linear-gradient(45deg, #130f40, #2c3e50);
    color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.or-text {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    color: #2c3e50;
}

.signup-button {
    margin-top: 10px;
    background: linear-gradient(45deg, #34495e, #2c3e50);
}

.signup-button:hover {
    background: linear-gradient(45deg, #2c3e50, #34495e);
}

.login-container a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #2c3e50;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container p {
    text-align: center;
    color: rgb(0, 0, 0);
}
